body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    line-height: 1.8em;
  }
  
  h1, h2 {
    color: gray;
    font-size: 130%;
  }
  
  h1 {
    border-bottom: 1px solid black;
    font-size: 150%;
  }

  em {
    color: red;
  }

  img {
    width: 40%;
    height: 40%;
  }

  p {
    font-weight: bold;
  }
  
  
  
  