body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    line-height: 1.8em;
  }
  
  h1, h2 {
    color: rgb(7, 78, 116);
    font-size: 160%;
  }
  
  h1 {
    border-bottom: 1px solid black;
    font-size: 150%;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  }

  em {
    color: rgb(210, 20, 93);
  }

  img {
    width: 40%;
    height: 40%;
  }

  p {
    font-weight: bold;
  }
  
  .special { color: red; }

  .multi-bg-example {
    width: 100%;
    height: 40%;
    background-image: url(), url(), linear-gradient(to right, rgb(102, 154, 207), rgba(255, 255, 255, 0));
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right;
  }
  
  
  
  
  
  