body {
    font-family: sans-serif;
  }
  
  h1, h2 {
    color: gray
  }
  
  h1 {
    border-bottom: 1px solid black;
  }

  img {
    width: 40%;
    height: 40%;
  }

  p {
    font-weight: bold;
  }
  